
<form class="text-center  border-light p-5">
    <p class="h4 mb-4">Income</p>

  
    <!-- Reason -->
    <h5>Enter Description:</h5>
    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Description" [(ngModel)]="incomes.description" [ngModelOptions]="{standalone: true}">
  
    <!-- Amount -->
    <h5>Enter Amount:</h5>
    <input type="number" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Amount" [(ngModel)]="incomes.added_amount" [ngModelOptions]="{standalone: true}">
  
  
    <!-- Sign in button -->
    <div class="row justify-content-center">
      <button mdbBtn block="true" class="my-4 text-center" type="submit" (click)="Income()">Done</button>
    </div>
    
  </form>

